TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
INTERNAL_API_KEY=your_internal_api_key_here
MONGO_URI=your_mongodb_uri_here
VN_PROXY=your_vn_proxy_here
AI_ENGINE_API_KEY=your_ai_engine_api_key_here
TELEGRAM_BOT_CALLBACK_URL=your_telegram_bot_callback_url_here
JAVA_APP_CALLBACK_URL=your_java_app_callback_url_here
HK_TOKEN=your_hk_token_here