cachetools==7.1.1
certifi==2026.4.22
fastapi==0.136.1
httpx==0.28.1
loguru==0.7.3
matplotlib==3.10.9
networkx==3.6.1
numpy==2.4.4
osmnx==2.1.0
pandas==2.3.3
pydantic==2.13.3
pydantic-settings==2.14.0
pymongo==4.17.0
pyproj==3.7.2
pyrosm==0.6.2
pytz==2026.2
python-dotenv==1.2.2
uvicorn==0.46.0
